.block-ezcontent-user-shortcut-block {
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.block-ezcontent-user-shortcut-block .block-title,
.block-ezcontent-user-shortcut-block h2 {
  padding: 15px 10px 15px;
  margin: 0;
}

.user-shortcuts-block-wrapper {
  padding: 10px 15px 15px;
}

.shorcut-operation {
  margin-bottom: 20px;
}

.shorcut-operation .btn {
  padding: 0px 10px;
  background-color: #d4d4d8;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  display: inline-block;
  font-size: 16px;
}

.shorcut-operation .btn:hover {
  background-color: #c2c3ca;
}

.shorcut-operation .btn a {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}
