<section class="user-shortcuts-block-wrapper">
<div class="user-shortcut-block" style="background-color: #EEEEEE">
  {% for title,link in data.0 %}
    <div class="btn"><a href="{{ link }}">{{ title }}</a></div>
  {% endfor %}
  {% for key,link in data.1 %}
  <div class="btn">{{ link }}</div>
  {% endfor %}
</div>
</section>
