<section class="user-shortcuts-block-wrapper">
  <div class="shorcut-operation">
    {% for key,link in data.operations %}
      <div class="btn button--primary">{{ link }}</div>
    {% endfor %}
  </div>
  <div class="user-shortcut-block">
    {% for link in data.links %}
      <div class="btn button--action button--primary">{{ link }}</div>
    {% endfor %}
  </div>
</section>

